[Unit]
Description=HEDGE Rebalance Manager (monthly)
Requires=hedge-rebalance.service

[Timer]
OnCalendar=*-*-01 11:00
Unit=hedge-rebalance.service
Persistent=true

[Install]
WantedBy=timers.target

